# General
HELP.md
.env

# Compiled / Build Outputs
target/
build/
out/

# Allow specific build folders inside src
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Java / JVM
*.class
hs_err_pid*

# Logs
*.log

# Archives / Packages
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Keep wrapper JAR
!.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/

# Keep wrapper JAR
!gradle/wrapper/gradle-wrapper.jar

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# IDE - Eclipse / STS
.project
.classpath
.factorypath
.settings/
.springBeans
.sts4-cache
.apt_generated

# IDE - NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# IDE - VS Code
.vscode/